---
import BaseLayout from "../layouts/BaseLayout.astro";
import TopBar from "../components/sections/TopBar.astro";
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import TrustStrip from "../components/sections/TrustStrip.astro";
import WarningSigns from "../components/sections/WarningSigns.astro";
import WhatSetsUsApart from "../components/sections/WhatSetsUsApart.astro";
import Testimonials from "../components/sections/Testimonials.astro";
import CareClub from "../components/sections/CareClub.astro";
import Services from "../components/sections/Services.astro";
import ServiceArea from "../components/sections/ServiceArea.astro";
import ProcessSteps from "../components/sections/ProcessSteps.astro";
import BlogTeasers from "../components/sections/BlogTeasers.astro";
import FAQ from "../components/sections/FAQ.astro";
import CTABar from "../components/sections/CTABar.astro";
import Footer from "../components/sections/Footer.astro";
---

<BaseLayout>
  <TopBar />
  <Header />
  <main>
    <Hero />
    <TrustStrip />
    <WarningSigns />
    <WhatSetsUsApart />
    <Testimonials />
    <CareClub />
    <Services />
    <ServiceArea />
    <ProcessSteps />
    <BlogTeasers />
    <FAQ />
    <CTABar />
  </main>
  <Footer />
</BaseLayout>
