---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Stats from "../components/Stats.astro";
import ServiceArea from "../components/ServiceArea.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Services />
    <Stats />
    <ServiceArea />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
